.dashboard{
    background: url('/images/bg1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 89vh;
    width: auto;
    opacity: 0.8;
    @media(max-width: $desktop-breakpoint){
        background-size: contain;
        background-repeat: repeat-y;
      }
}
.dashboard_link{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #008489;
    margin: $l-size $m-size;
    color: white;
    height: 50px;
    width: 200px;
    font-size: 2rem;
    border-radius: 10px;
    @media(max-width: $desktop-breakpoint){
        margin: $s-size;
    color: white;
    height: 25px;
    width: 100px;
    font-size: 1rem;
      }
    
}
.dashboard_link:hover{
    background-color:#007771 ;
}
.dashboard_content{
    display: flex;
    flex-direction: column;
    width: 80vw;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.dashboard_content h1{
    color: white;
    // border: 2px solid black;
    font-size: $xl-size;
    @media(max-width: $desktop-breakpoint){
        font-size: 2rem;
        font-weight: 300;
      }
}
.dashboard_content_link{
    display: flex;
    width: 80vw;
    justify-content: space-evenly;
    margin: auto;
    @media(max-width: $desktop-breakpoint){
        flex-direction: column;
        margin-bottom: $s-size;
      }
}