.text-input{
    border: 1px solid #cacccd;
    height: 47px;
    font-size: $mx-size;
    font-weight: 300;
    padding: 0.5rem;
    border-radius: 7px;
    border: none;
    
}
.select{
    @extend .text-input;

}

